#dealer-wrap, #player-wrap {
  min-height: 120px;
}
#dealer-data, #player-data {
  padding: 10px;
  color: rgb(214, 153, 245);
}
#dealer-stand, #player-stand {
  display: none;
  padding: 10px;
  background: #c42c57;
  color: rgb(209, 157, 157);
}
#dealer-stand.stood, #player-stand.stood { display: inline-block; }

#dealer-cards, #player-cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 12px;
  padding: 10px;
}

.bj-card {
  box-sizing: border-box;
  font-size: 3em;
  text-align: center;
  padding: 12px;
  width: 100%;
  background: #ab3456;
  border: 2px solid rgb(221, 172, 172);
}


#dealer-wrap { background: pink; }
#dealer-data { background: grey; }
#deal-first .front { display: none; } 
#deal-first.show .back { display: none; }
#deal-first.show .front {  display: block; }

#player-wrap { background: pink; }
#player-data { background: grey; }

 #player-buttons {
   display: grid;
   grid-template-columns: 100%;
   gap: 10px;
   padding: 10px;
   background: white;
 }
 #player-buttons input {
   box-sizing: border-box;
   cursor: pointer;
   border: 0;
   padding: 10px;
   background: rgb(32, 107, 14);
   color: rgb(221, 238, 222);
   width: 100%
 }

#pb-hit, #pb-stand { display: none; }
#player-buttons.started { grid-template-columns: 50% 50%; }
#player-buttons.started #pb-start { display: none; }
#player-buttons.started #pb-hit, #player-buttons.started #pb-stay { display: block; }

