
* {
  box-sizing: border-box;
}
body {
  display: grid;
  align-items: center;
  justify-content: center;
  border-style: groove;
  background-color: rgb(8, 100, 12);
  min-height: 100vmin;
  margin: 0;
  text-align: center;
}
#dealer-wrap, #player-wrap {
  min-height: 10px;
}
#dealer-data, #player-data {
  padding: 10px;
  color: rgb(217, 243, 218);
}
#dealer-stand, #player-stand {
  display: none;
  border-style: dashed;
  max-height: 120px;
  padding: 10px;
  background: #078807;
}
#dealer-stand.stood, #player-stand.stood { display: inline-block; }
#dealer-cards, #player-cards {
  display: grid;
  border-style: dotted;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, auto);
  gap: 6px;
  padding: 10px;
}
.gc-card {
  box-sizing: border-box;
  /* border-style: ridge; */
  font-size: 3em;
  text-align: center;
  padding: 12px;
  width: 100%;
  background: #3bac53;
  border: 2px solid rgb(172, 221, 176);
}
#dealer-wrap { background: rgb(192, 255, 192); }
#dealer-data { background: rgb(89, 102, 92); }
#deal-first .front { display: none; } 
#deal-first.show .back { display: none; }
#deal-first.show .front {  display: block; }
#player-wrap { background: rgb(192, 255, 192); }
#player-data { background: rgb(94, 116, 99); }
#player-buttons {
   display: grid;
   grid-template-columns: 100%;
   gap: 1px;
   width: 100%;
   padding: 10px;
   background: rgb(192, 255, 206);
 }
 #player-buttons input {
   box-sizing: border-box;
   cursor: pointer;
   border: 0;
   padding: 10px;
   background: #1ca13d;
   color: rgb(217, 243, 218);
   width: 100%
 }
#pb-hit, #pb-stand { display: none; }
#player-buttons.started { grid-template-columns: 50% 50%; }
#player-buttons.started #pb-start { display: none; }
#player-buttons.started #pb-hit, #player-buttons.started #pb-stand { display: grid; }

